<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        color="primary"
        ></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
       <form [formGroup]="formularioRegistro" (keyup.enter)="CrearUsuario()">

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" formControlName="apellido"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select formControlName="tipo"
              [compareWith]="compareWith"
              placeholder="Tipo"
              (ionChange)="handleChange($event)"
            >
            <ion-select-option value="profesor">Profesor</ion-select-option>
            <ion-select-option value="alumno">Alumno</ion-select-option>
            
              <!-- <ion-select-option *ngFor="let tipo of tipos" [value]="tipo" >{{ tipo.name }}</ion-select-option> -->
            </ion-select>
          </ion-item>    
        </ion-list>

        <ion-item>
          <ion-label position="floating">Correo..</ion-label>
          <ion-input type="email" formControlName="correo" ></ion-input>
        </ion-item>

       <form #passwordValidation="ngForm" (ngSubmit)="pwdSubmit()"></form>
       <div>
        <label for="">Password</label>
        <input type="password" placeholder="password" name="password"  [(ngModel)]="registerArray.password" #password>
        <span class="" *ngIf="(Password.touched || passwordValidation.submitted) && Password.errors?.required">Password required</span>
        <span class="" *ngIf="(Password.touched || passwordValidation.submitted) && Password.errors?.pattern">Password required</span>
       </div>

        <div>
          <label for="">Confirm Password</label>
          <input type="password" placeholder="Re password" name="confirmPassword"  [(ngModel)]="registerArray.confirmpassword" #password>
        </div>

       </form>
       <br>
       <ion-button (click)="CrearUsuario()" expand="block" fill="outline" shape="round">
         Registrar
       </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
