<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        color="primary"
        ></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()" class="formulario">
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Nombre"
                 name="nombre" [(ngModel)]= "usuario.nombre" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: </ion-label>
      <ion-input type="text" placeholder="Apellido"
                 name="apellido" [(ngModel)]= "usuario.apellido" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Rut: </ion-label>
      <ion-input type="text" placeholder="Rut"
               name="rut" [(ngModel)]= "usuario.rut" required>
    </ion-input>
  </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="email" placeholder="Email"
                 name="email" value="" [(ngModel)]= "usuario.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" placeholder="Contraseña"
                 name="password" value="" [(ngModel)]= "usuario.password"
                 required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Jornada</ion-label>
      <ion-select >
        <ion-select-option required value="Diurno">Diurno</ion-select-option>
        <ion-select-option required value="Vespertino">Vespertina</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Carrera</ion-label>
      <ion-select >
        <ion-select-option  required value="Informatica">Ingenieria Informatica</ion-select-option>
        <ion-select-option required value="Animacion">Animacion</ion-select-option>
        <ion-select-option required value="Enfermeria">Enfermeria</ion-select-option>
        <ion-select-option required value="Redes y comunicaciones">Redes</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button [disabled] ="formulario.invalid"
            type="submit" expand="block" routerLink="/inicio">
      Registrarse
    </ion-button>
  </form>

</ion-content>
