<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-content *ngFor="let dato of datosUsuario">
      <ion-label >Bienvenid@ {{dato.tipoUsuario}} {{dato.nomUsuario}}</ion-label><br>
    </ion-card-content>
  </ion-card>
  <br>
  <div class="logout">

    <ion-button size="default" (click)="logout()"  routerLink="/login"  color="primary" shape="round">
      Logout
  </ion-button>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="botonQr" (click)="onClick()" routerLink="/scanner">
      <ion-icon slot="icon-only"  name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>