<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Bienvenido Alumno/docente Usuario
      <br><ion-label>Nombre:Usuario</ion-label><br>
      <ion-label>Apellido:Usuario</ion-label><br>
      <ion-label>Rut:999999999</ion-label><br>
      <ion-label>Carrera:Usuario</ion-label><br>
      <ion-label>Jornada:Usuario</ion-label><br>
      <ion-label>Mail:Usuario@.cl</ion-label><br>
    </ion-card-content>
  </ion-card>
  <ion-button  routerLink="/login"  type="danger" shape="round">
      Logout
  </ion-button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="botonQr" (click)="onClick()" routerLink="/scanner">
      <ion-icon slot="icon-only"  name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>