<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Bienvenido
      <br><ion-label>Nombre:</ion-label><br>
      <ion-label>Apellido:</ion-label><br>
      <ion-label>Rut:</ion-label><br>
      <ion-label>Carrera:</ion-label><br>
      <ion-label>Rut:</ion-label><br>
      <ion-label>Jornada:</ion-label><br>
      <ion-label>Mail:</ion-label><br>
    
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="botonQr" (click)="onClick()" routerLink="/scanner">
      <ion-icon slot="icon-only"  name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>