<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tomar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Correo: </ion-label>
      <ion-input type="text" name="txtCorreo" [(ngModel)]="newAsistencia.correo" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Fecha: </ion-label>
      <ion-input type="text" name="txtFecha" [(ngModel)]="newAsistencia.fecha" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Modulo: </ion-label>
      <ion-input type="text" name="txtModulo" [(ngModel)]="newAsistencia.modulo" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="crearAsistencia()" expand="block" fill="outline" color="success" shape="round">
          Agregar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>