<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tomar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button full icon-left (click)="scan()">Scannear</ion-button>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formularioAsistencia" (keyup.enter)="crearAsistencia()">
        <ion-input type="text" formControlName="asistencia" [(ngModel)]="datoScaneados" placeholder="Informacion del escaner">
        </ion-input>
      </form>
      <ion-button full icon-left (click)="crearAsistencia()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>