<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/qr-code.jpg" alt="">
  </ion-card>
  <ion-item-divider>
    <ion-label><p>02/09/2022//////09:00////Programacion Movil</p></ion-label>
  </ion-item-divider>
  <div>
    <ion-button (click)="onClick()" expand="block" color="primary" shape="round">
      Generar Codigo
    </ion-button>
  </div>
</ion-content>
