<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="logito">
    <img src="assets/logo2.png">
  </div>
  <div class="title">
    <h1> Bienvenido a AsistApp</h1>
  </div>
  <ion-label>
    <h1>¿Tienes cuenta?</h1>
  </ion-label>

  <ion-button expand="block" shape="round" routerLink="/login">
    ALUMNO
  </ion-button>
  <ion-button expand="block" shape="round" routerLink="/login">
    DOCENTE
  </ion-button>
  <ion-item-divider>
    <ion-label class="centro"> ---------------------- O ------------------------</ion-label>
  </ion-item-divider>



  <ion-button expand="block" shape="round" routerLink="/registro">
    Registrarse
  </ion-button>

</ion-content>