ion-content{
    --background: linear-gradient(180deg, 
    #ffffdb 0, #f5ffd4 12.5%,
     #e7fdcf 25%, #d8f9c9 37.5%, #c6f4c4 50%, #b3efc1 62.5%,
     #a0ebc0 75%, #8ce6c1 87.5%, #77e3c4 100%);
}

h1{
    font-family: 'Asap';
    color:black;
    margin-left: 30px;
}



img{

    height: 100px;
    margin-top: 50%;
    margin-left: 100px;
    border-radius: 40px;      
}

.registrar{
    margin-top: 40px;
    margin-left: 50px;
}

ion-button{
    border:black 1px solid;
    border-radius:40px;
}

.centro{
    margin-left: 30px;
}
