<ion-content>
  <div class="logito">
    <img src="assets/logo2.png">
  </div>
  <div class="title">
    <h1> Bienvenido a AsistApp</h1>
  </div>
  <ion-button size="large" shape="round" routerLink="/login" color="light">
    ALUMNO
  </ion-button>
  <ion-button size="large" shape="round" routerLink="/login" color="light">
    DOCENTE
  </ion-button>
  <div>
    <ion-label class="centro"> NO TIENES CUENTA?</ion-label>
  </div>
  <ion-button size="large"  class="registrar" shape="round" routerLink="/registro" color="light">
    Registrate
  </ion-button>
</ion-content>