<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>¿Tienes cuenta ?</ion-label>
  <ion-label>Eres</ion-label>
  <ion-button (click)="onClick()" expand="block"  shape="round" routerLink="/login">
    alumno
  </ion-button>
  <ion-label>O</ion-label>
  <ion-button (click)="onClick()" expand="block"  shape="round" routerLink="/login">
    Docente
  </ion-button>
  <ion-button (click)="onClick()" expand="block" shape="round" routerLink="/registro">
    Registrarse
  </ion-button>
</ion-content>
