<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Datos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>Nombre:</ion-label>
  <ion-label>Apellido:</ion-label>
  <ion-label>Rut:</ion-label>
  <ion-label>Carrera:</ion-label>
  <ion-label>Rut:</ion-label>
  <ion-label>Jornada:</ion-label>
  <ion-label>Mail:</ion-label>

</ion-content>
