<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Modificar Datos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Usuario"
                 name="nombre"  required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido: </ion-label>
      <ion-input type="text" placeholder="Usuario"
                 name="apellido"  required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mail: </ion-label>
      <ion-input type="text" placeholder="Usuario"
                 name="apellido"  required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: </ion-label>
      <ion-input type="password" placeholder="Usuario"
                 name="contraseña"  required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Jornada:</ion-label>
      <ion-input type="text" placeholder="Diurna"
                 name="Jornada"  required>
      </ion-input>
    </ion-item>
    <br>
    <ion-button (click)="onClick()" expand="block" type="primary" shape="round">
      Guardar Cambios
    </ion-button>

  </form>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="botonQr" (click)="onClick()" routerLink="/scanner">
      <ion-icon slot="icon-only"  name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>