.Logout{
    margin-top: 100%;
    margin-left: 35%;
}

ion-toolbar{
    --background: white;
    color: black;
}
.md{
    --background: white;
    color: black;}
.hydrated{
    
}
ion-content{
    --background: radial-gradient(circle at 
    40.38% -2.83%, #ffffdb 0, #ffffff 0%, 
    #ffffff 50.29%, #ffffff 10.43%, #fcfffc 10.57%, #f3fff6 35.71%, #e8fff1 42.86%,
     #dbfcec 50%,
     #e7fdcf 50.14%, #d8f9c9 50.29%, #c6f4c4 71.43%, #b3efc1
     50.57%, #a0ebc0  85.71%, #8ce6c1 52.86%, #77e3c4 50%);

}
/* --background: linear-gradient(180deg, 
#ffffdb 0, #f5ffd4 12.5%,
 #e7fdcf 25%, #d8f9c9 37.5%, #c6f4c4 50%, #b3efc1 62.5%,
 #a0ebc0 75%, #8ce6c1 87.5%, #77e3c4 100%);
 */

