.Logout{
    margin-top: 100%;
    margin-left: 35%;
}

ion-toolbar{
    --background: white;
    color: black;
}

ion-content{
    --background: radial-gradient(circle at 
    40.38% -2.83%, #ffffdb 0, #ffffff 0%, 
    #ffffff 50.29%, #ffffff 10.43%, #fcfffc 10.57%, #f3fff6 35.71%, #e8fff1 42.86%,
     #dbfcec 50%,
     #e7fdcf 50.14%, #d8f9c9 50.29%, #c6f4c4 71.43%, #b3efc1
     50.57%, #a0ebc0  85.71%, #8ce6c1 52.86%, #77e3c4 50%);

}


