<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bienveni" Text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
      <img src="assets/logo2.png">
    </div>
    <form class="login">
      <ion-item>
        <ion-label class="label" position="floating">Mail</ion-label>
        <ion-input type="text"  required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input   type="Password" class="primary-input"  required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <div class="Logear">
          <ion-button type="submit" color="primary" expand="block" routerLink="/inicio">Login</ion-button>
          </div>
          <div class="olvidaste">
          <a [routerLink]="['/forgot-password']" class="small-text">Olvidaste Contraseña?</a>
          </div>
        </ion-col>
     </ion-row>
    </form>
  
</ion-content>