
<ion-content>

    <div class="container">
        <img src="assets/logo2.png">
    </div>
    <div class="title">
        <h1> Bienvenido a AsistApp</h1>
    </div>
    <ion-card-content>
        <form [formGroup]="formularioLogin">
            <ion-item>
                <ion-label position="floating">Correo: </ion-label>
                <ion-input type="email" formControlName="correo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password: </ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
        </form>
        <br>
        <ion-button (click)="Ingresar()" expand="block" fill="solid" shape="round">
            Ingresar
        </ion-button>
    </ion-card-content>
    <div class="centro">
        <ion-label><a [routerLink]="['/registro']">¿ No tienes cuenta?</a></ion-label>
    </div>
</ion-content>